*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.menu{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #315762;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  margin: 0;
}

.menu .menu-izquierda{
  display: flex;
  align-items: center;
  width: 35%;
}
.logo{
    width: 9.8em;
}

.menu .menu-medio{
  width: 30%;

}

.menu .menu-medio ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

.menu .menu-derecha {
  justify-content: flex-end;
  display: flex;
  width: 35%;
  align-items: center;
}

.menu .menu-derecha .iniciar-sesion{
  display: flex;
  background-color: #E9631A;
  border-radius: 20px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.menu-medio a:hover {
  border-bottom: 3px solid #E9631A ;               
}


body{
    max-width: 100%;
    margin: 0;
   background-color: rgb(243, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}

.volver {
    text-decoration: none;
    color: #e9631a;
}


/*todo el main*/
.titulo{
    padding-left: 2em;
    padding-top: 2em;
}


.contenedor-principal {
    display: grid;
    grid-template-columns: 350px 1fr; 
    gap: 25px;
    max-width: 1300px; 
    margin: 10px auto;
    align-items: start;
    padding: 0 20px;
}
.vuelo-columna{
    background: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}


/aside*/
.detalle { 
    height: auto;
    grid-row: 1; 
    grid-column: 1;
    background-color: white;
    border: 0.05em solid rgb(199, 198, 198);
    border-radius: 0.8em;
    padding: 0.9em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}



.grafico-vuelo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1.5em;
}


.punto-partida, .punto-llegada {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
}



.punto-llegada{
    align-items: flex-end;
}

span{
    font-size: 1em;
    color: #555;
}

.bloque-grafico{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0 0.6em;      
}

.linea{
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: center;
}

.linea-horizontal{
    flex-grow: 1; 
    height: 1px;
    background-color: #ddd;
}

.avion-mini img, .icono-destino-vuelta{
    width: 1.2em;
    margin: 0 5px;
    filter: grayscale(1); 
    transform: rotate(180deg);
}

.circulo{
    width: 8px;
    height: 8px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: white; 
}

.hora {
    font-size: 1.1em;
    color: #000;
    line-height: 1.2;
}

.ciudad {
    font-size: 0.8em;
    color: #444;
}

.linea {
    flex-grow: 1;
    text-align: center;
    margin: 0 0.8em;
}
.linea hr {
    border: none;
    border-top: 0.05em solid #ccc;
}

li{
    list-style: none;
    margin-bottom: 0.5em;
    padding: 0;
}

.chico, .logo-informacion{
    width: 1em;
    height: auto;
}

.separador-puntos {
    border: none;               
    border-top: 2px dotted #ccc; 
    height: 0;
    width: 100%;
    margin: 20px 0;             
}


.asientos {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

.seccion-asientos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.seleccionar-asiento {
    flex: 1;                   
    min-width: 300px;          
    max-width: 450px;
}

.texto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ida{
    color:#e9631a
}



.naranja { color: #e9631a; }

.asiento {
    display: flex;
    gap: 20px;
    
}
.mapas-flex {
    display: flex;
    justify-content: flex-start;
    gap: 60px; 
    
    
}
.vuelo-columna {
    text-align: center;
}
.vuelo-titulo {
    color: #E9631A; 
    margin-bottom: 15px;
    font-size: 1.4rem;
}
.cuadrado {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cuadrado-asiento {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;             
    margin-top: 30px;
    margin-left: 20px;
}

.contenedor-asientos-navegacion {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    gap: 40px; 
   
}

/* TABLA Y ASIENTOS */
.mapa-asientos {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;      
}

.mapa-asientos td {
    width: 35px;
    height: 35px;
    padding: 0;
}

.cuadrito, .disponible {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.disponible { background-color: #315762; cursor: pointer; }
.ocupado { background-color: #E0E0E0; }
.seleccionado { background-color: #e9631a; }

.check-asiento { display: none; }
.check-asiento:checked + .disponible { background-color: #e9631a; }

.pasillo { width: 30px; }
.num-fila { color: #888; text-align: center; }

.divisor-vertical {
    width: 2px;
    height: 500px;
    background-color: #eee;
}

.seleccionar-asiento {
    display: none; 
}

.informacion-asiento {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.img-informacion { width: 20px; }








.resumen{ 
    grid-column: 1/3;
    grid-row: 2;
     height: auto;
    background-color: white; 
    border: 0.05em solid  rgb(199, 198, 198);
    border-radius: 0.8em;
    padding: 1em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.precio{
    display: flex;
    height: auto;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1.3em;
}
.total{
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
}

.monto{
    font-size: 1.4em;
    font-weight: bold;
    color: #e9631a;
    text-align: right;
}


/*resumen*/

.resumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: white;
    border-radius: 0.8em;
    border: 0.05em solid rgb(199, 198, 198);
    grid-column: 1 / 3; 
}
.boton-continuar{
    background-color: #e9631a;
    width: 20em;
    color: white;
    border: none;
    padding: 0.8em 1.5em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;

}
.resumen-precio {
    width: 60%;
}

.item-precio {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 0.5em;
}

.monto-final {
    color: #e9631a; 
    font-weight: bold;
    font-size: 1.3em;
}

/* Empieza el FOOTER */
.footer {
  background-color: #315762;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 5em;
  color: white;
}

.f-suscripcion {
  text-align: center;

  padding: 1em;
}

.divForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;

 
}

#mail {
  
  padding: 1.2em 1.2em;
  width: 35vw;
    border-radius: 1em;
}

#Enviar {
  padding: 1.2em 1.2em;
  width: 15vw;
  background-color: #FF6B00;
  border-color: #977a7a33;
  border-radius: 2em;
  box-shadow: 0%;

}

.f-Menu {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  background-color: #315762;
 
}

.f-section {
  padding: 0.5em;
}

.f-section ul li {
  list-style-type: none;
}

.iconoRedes {
  width: 2em;
  margin-right: 1em;
}

.f-logo {
  width: 15em;
}

.f-redes {
  display: flex;
  flex-direction: row;
}

.f-Derechos {
  text-align: center;
}

/* FIN FOOTER */