* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
main{
  height: 100%;
}
.menu {
  position: relative;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #315762;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  margin: 0;
      width: 100%;
}

.menu-izquierda, .menu-medio, .menu-derecha{
  flex: 1;
}
/* Oculto para acceder al meno
.menu .menu-izquierda {
  display: flex;
  align-items: center;
  width: 35%;
} */

/*nav --> opciones */
/*  limita el menu
.menu .menu-medio {
  width: 30%;

} */

.menu .menu-medio ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  justify-content: center;
}



.menu-medio a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: white;
  transition: color 0.3s ease;
}

.menu-medio a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*hasta aca 
*/
.menu .menu-derecha {
  justify-content: flex-end;
  display: flex;
  /* swidth: 35%; */
  align-items: center;
}
.iniciar-sesion {
  display: flex;
  background-color: #E9631A;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;

}

.iniciar-sesion a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #315762;
    height: 3.5rem;
    padding: 2rem;
}

.logo{
    width: 9.8em;
}

.menu ul { 
    display: flex; 
    list-style: none; 
    gap: 20px; 
}

.menu a { 
    color: white; 
    text-decoration: none; 
}

.iniciar-sesion {
    display: flex;
    background-color: #E9631A;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    text-align: center;
    padding: 1em;
    color: #1c2b36;
}

p{
    text-align: center;
}

h2{
    color: #1c2b36;
}
.contenedor-principal {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.bloque-informacion {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border: 1px solid #c7c6c6;
    border-radius: 0.8em;
    padding: 1em;
   
}


.vuelo-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    border: 1px solid #eee;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1em;
    transition: 0.3s;
}

.vuelo-header:hover {
    background-color: #f5f5f5;
}

.precio { 
    color: #E9631A; 
    font-weight: bold; 
}

.vuelo-detalle {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    background: #f9f9f9;
    padding: 0 1.5em;
}

.boton-vuelo { 
    display: none; 
}

.boton-vuelo:checked ~ .vuelo-detalle {
    max-height: 150px;
    padding: 1.5em;
    border: 1px solid #eee;
    border-top: none;
}

.footer {
  margin-top: 4em;
  background-color: #315762;

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 5em;
  color: white;
}

.f-suscripcion {
  text-align: center;

  padding: 1em;
}

.divForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;


}

#mail {
  
  padding: 1.2em 1.2em;
  width: 35vw;
}

#Enviar {
  padding: 1.2em 1.2em;
  width: 15vw;
  background-color: #FF6B00;
  border-color: #977a7a33;
  border-radius: 2em;
  box-shadow: 0%;

}

.f-Menu {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  background-color: #315762;
  /* #073B4C */
}

.f-section {
  padding: 0.5em;
}

.f-section ul li {
  list-style-type: none;
}

.f-section a{
    color: white;
    text-decoration: none;
}

.iconoRedes {
  width: 2em;
  margin-right: 1em;
}

.f-logo {
  width: 15em;
}

.f-redes {
  display: flex;
  flex-direction: row;
}

.f-Derechos {
  text-align: center;
}

footer h2{
  color: white;
}