* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.menu {
  position: relative;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #315762;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  margin: 0;
}

.menu .menu-izquierda {
  display: flex;
  align-items: center;

}

.menu .menu-medio ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  justify-content: center;
}

a{
  text-decoration: none;
}



.menu-medio a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: white;
  transition: color 0.3s ease;
}

.menu-medio a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.menu .menu-derecha {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap:0.4rem;
}

.iniciar-sesion {
  position: relative;
}

.iniciar-sesion summary{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #E9631A;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 1.20rem;
  font-weight: bold;
}

.iniciar-sesion summary::after {
  content: "▼";
  font-size: 0.7rem;
  margin-left: 0.3rem;
}

.iniciar-sesion a{
  position: absolute;
  background-color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  text-decoration: none;
  top: 100%;
  white-space: nowrap; 
  color: black;
}

.iniciar-sesion a{
  position: absolute;
  background-color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  text-decoration: none;
  top: 100%;
  white-space: nowrap; 
  color: black;
}



.main-texto{
  padding: 4rem 4rem 2rem 4rem;
}

.main-texto .parrafo-1{
font-weight: 550;
font-size: 2.5rem;
margin: 1rem 0 1rem 0;
}

.main-texto .parrafo-2{
font-weight: 450;
font-size: 1rem;
margin: 1rem 0 1rem 0;
}

.ordenar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0 2.5rem;
}

select {
  padding: 1rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.ofertas{
  background-color: white;
  width: 92%;
  margin: 0 auto;
  padding: 0;
}

.contenedor-ofertas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  align-content: center;
  gap: 3rem;
  margin: 2rem 0 4rem 0;
}

.tarjeta img{
   width: 20rem;
  height: 15rem;
  border-radius: 8px;
}

.tarjeta {
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.info {
  position: absolute;
  color: white;
  z-index: 2;
  top: 1.8rem;
  left: 1.8rem;
  text-align: left;
}

.promo {
  top: 1.5rem;
  background: #E9631A;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.info h3 {
  margin: 5px 0;
  font-weight: 500;
}

.precio {
  font-weight: 600;
  font-size: 18px;
}

.footer {
  background-color: #315762;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 5em;
  color: white;
}

.footer a{
  color: #FAFAFA;
}

.f-suscripcion {
  text-align: center;

  padding: 1em;
}

.divForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;

  /* display: grid;
    grid-template-rows: 2fr 1fr; */
}

#mail {
  /* width: 35em; */
  padding: 1.2em 1.2em;
  width: 35vw;
}

#Enviar {
  padding: 1.2em 1.2em;
  width: 15vw;
  background-color: #FF6B00;
  border-color: #977a7a33;
  border-radius: 2em;
  box-shadow: 0%;

}

.f-Menu {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  background-color: #315762;
  /* #073B4C */
}

.f-section {
  padding: 0.5em;
}

.f-section ul li {
  list-style-type: none;
}

.iconoRedes {
  width: 2em;
  margin-right: 1em;
}

.f-logo {
  width: 15em;
}

.f-redes {
  display: flex;
  flex-direction: row;
}

.f-Derechos {
  text-align: center;
}

/* FIN FOOTER */

