* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.menu {
  position: relative;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #315762;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  margin: 0;
}

.menu .menu-izquierda {
  display: flex;
  align-items: center;

}

.menu .menu-medio ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  justify-content: center;
}

a{
  text-decoration: none;
}



.menu-medio a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: white;
  transition: color 0.3s ease;
}

.menu-medio a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.menu .menu-derecha {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap:0.4rem;
}

.iniciar-sesion {
  position: relative;
}

.iniciar-sesion summary{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #E9631A;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 1.20rem;
  font-weight: bold;
}

.iniciar-sesion summary::after {
  content: "▼";
  font-size: 0.7rem;
  margin-left: 0.3rem;
}

.iniciar-sesion a{
  position: absolute;
  background-color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  text-decoration: none;
  top: 100%;
  white-space: nowrap; 
  color: black;
}

/* aca comienda el main del formulario del perfil */
body {
  background-color: #f4f6f8;
}

.contenedor {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}

.form_perfil {
  background: white;
  width: 45rem;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}


.form_perfil h2 {
 margin-bottom: 0.5rem;
    color: #1c2b36;
  font-size: 1.6rem;
}


.form_perfil h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
    color: #1c2b36;
  border-left: 4px solid #E9631A;
  padding-left: 0.5rem;
}

.form_perfil p {
  
   margin-bottom: 1rem;
    color: gray;
    font-size: 0.9rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
    
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}


input {
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ccc;
 

}



.genero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}
 


.boton {
  margin-top: 1.5rem;
  padding: 0.9rem;
  background-color: #E9631A;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
}
