*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.menu{
  position: relative;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #315762;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  margin: 0;
}

.menu .menu-izquierda{
  display: flex;
  align-items: center;
  width: 35%;
}

.menu .menu-medio{
  width: 30%;

}

.menu .menu-medio ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

.menu .menu-derecha {
  justify-content: flex-end;
  display: flex;
  width: 35%;
  align-items: center;
}

.menu .menu-derecha .iniciar-sesion{
  display: flex;
  background-color: #E9631A;
  border-radius: 20px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.menu-medio a:hover {
  border-bottom: 3px solid #E9631A ;               
}


body{
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

main{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto ;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contenido div{
    place-content: center;

}


.contenido{
    padding-top:3%;
    grid-column: 2/3;
    background-color: rgb(255, 255, 255);
    height: auto;
    
}

.tarjeta-vuelo {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 80% 20%; 
    border: 0.02em solid #bab7b7;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
   padding: 0;
   align-items: center;
    
}

.aerolinea{/*es la imagen y el nombre*/
    display: flex;
    align-items: center; 
    gap: 0.8em;          
    text-align: left;   
}

.nombreAerolinea{
    font-size: 0.8em;
    color: #000000;
}


.aeroargentina {/*medida de la imagen*/
    width: 4em;
    height: auto;
}


.informacion{/*contiene el vuelo, ida y vuelta*/
    display: flex;
    flex-direction: column; /* Apila Ida arriba de Vuelta */
    padding: 1em;
    gap: 1em; /* Espacio entre Ida y Vuelta */
}


.info{/*hora del viaje*/
    font-size: 1.1em;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
}


.fila {/*ida o vuelta*/
    display: grid;
    grid-template-columns:  9.3em 6.25em 1fr 6.25em 6.25em;
    align-items: center;
    text-align: center;
}



.etiqueta {
    font-size: 0.7em;
    color: #777;
    font-weight: bold;
    margin-bottom: 2px;
}

.hora {
    font-size: 1.1em;
    color: #000;
}

.ciudad {
    font-size: 0.8em;
    color: #444;
}

.duracion {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 0 0.6em;
    font-size: 0.7em;
}

.linea-trayecto {
    width: 100%;       
    height: 0.03em;       
    background-color: #ccc;
    margin: 5px 0;   
    position: relative;
}

.precio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 0.03em solid #eee; 
    padding: 0.9em;
    background-color: white;
}


span{
    font-size: 1em;
    color: #555;
}


.monto{
    font-size: 1.5em;
     margin-top: 0.3em;
}


/* boton*/
.oferta{
    background-color: #e9631a;
    color: white;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer; 
    font-size: 0.9em;
    border: none;
}

.mochila, .valija, .maleta {
    width: 1.2em;
    height: auto;
}



aside{/* Estilo del contenedor principal lateral */
  grid-column: 1/2;
  height: auto;
  margin-left: 2em;
}
.vuelos{/* Estilo del contenedor verde */
  display: flex;
  flex-direction: column;
  background-color: #315762;
  height: 70vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  align-self: flex-start;
  margin-left: 5%;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
}
.tipo-vuelo {/* Contenedor de los botones de tipo de vuelo */
  align-self: flex-start;
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
  flex-wrap: wrap;  
  margin-left: 5%;
}

.tipo-vuelo button {/* Botones de tipo de vuelo*/
  flex: 1;
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  white-space: nowrap; 
  
}
.tipo-vuelo .activo {
  background-color: white;
  border: 1px solid #e9631a;
  color: #e9631a;
  
}

.contenedor-viaje { /* Bloque blanco de Origen/Destino */
  background-color: white;
  border-radius: 4px; 
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  
}
.origenydestino{ /* Fila interna de origen o destino */
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
}

.linea-separadora {
  height: 1px;
  background-color: #eee;
  margin-left: 45px; 
  margin-top: 5px;
  margin-bottom: 5px;
}
input {/* Inputs de texto*/
  border: none;           
  outline: none;
  font-family: Arial, Helvetica, sans-serif ;
}


.texto {
  display: flex;
  flex-direction: column; 
}


.contenedor-fechas{/* Bloque de fechas */
  width: 90%;
  padding:2px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: white;
  align-items: center;
  display: flex;
  margin-top: 15px;
}

.fecha{
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.divisor-vertical {
  width: 1px;
  height: 40px;
  background-color: #eee;
}

.contenedor-pasajero{/* Bloque de pasajero */
  width: 90%;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: white;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

.fila-datos {  /* Contenedor para alinear el número y el select */
  display: flex;
  align-items: center; 
  gap: 4px;            
  font-size: 1rem;
  font-weight: 600;    
  color: #333;
}
#pasajeros{ /* Alinar el numero de pasajeros*/
  text-align: center;
}
.buscar { /*boton buscar*/
  width: 80%;
  background-color: #E9631A;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
label{/* Etiquetas de título internas */
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 17px;
}

.origen, .destino, .logo-pasajero{ /*imagenes*/
  width: 10%;
  padding-left: 4%;
  
}

.filtros{/* Bloque de filtros */
  border: 0.05em solid #eee;
  margin-top: 1em;
  padding-bottom: 2em;
  
  accent-color: #E9631A;;
}
.range{ /* Barra de precio */
  width: 90%;
}


.rango-valores { /* Contenedor de los precios */
  display: flex;
  justify-content: space-between; 
  margin-top: 8px; 
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 2%;
}

/* Estilo del título del acordeón */
summary {
  list-style: none; 
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 15px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
/* Quita la flecha por defecto en Safari */
summary::-webkit-details-marker {
  display: none;
}
/* Agregar una flecha que rote */
summary::after {
  content: '▶';
  font-size: 0.7rem;
  transition: transform 0.3s;
  color: #777;
  padding-left: 10%;
}
details[open] summary::after { /*Se encarga de darle movimiento al hacer clic*/
  transform: rotate(90deg);
}

.contenedor-politicas {
  display: flex; 
  gap: 40px;     
  flex-wrap: wrap; 
  align-items: flex-start;
}

.politica-item {
  display: flex;
  align-items: center; 
  gap: 15px;           
}

.politica-texto {
  width: 300px;
  max-width: 250px;
}

.titulo-opcion {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #333;
}

.subtitulo-opcion {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  margin: 2px 0 0 0;
}


.switch {/* El interruptor (switch) */
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}


.switch input {/* Ocultar el checkbox original */
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {/* El fondo del slider */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #315762 ; 
  transition: .4s;
  border-radius: 34px;
}


.slider:before {/* El círculo blanco del slider*/
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {/* Color cuando está activo */
  background-color: #E9631A; 
}


input:checked + .slider:before {/* Movimiento del círculo al activar */
  transform: translateX(24px);
}

/* Empieza el FOOTER */
.footer {
  background-color: #315762;
  /* #073B4C */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 5em;
  color: white;
}

.f-suscripcion {
  text-align: center;

  padding: 1em;
}

.divForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;

  /* display: grid;
    grid-template-rows: 2fr 1fr; */
}

#mail {
  /* width: 35em; */
  padding: 1.2em 1.2em;
  width: 35vw;
    border-radius: 1em;
}

#Enviar {
  padding: 1.2em 1.2em;
  width: 15vw;
  background-color: #FF6B00;
  border-color: #977a7a33;
  border-radius: 2em;
  box-shadow: 0%;

}

.f-Menu {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  background-color: #315762;
  /* #073B4C */
}

.f-section {
  padding: 0.5em;
}

.f-section ul li {
  list-style-type: none;
}

.iconoRedes {
  width: 2em;
  margin-right: 1em;
}

.f-logo {
  width: 15em;
}

.f-redes {
  display: flex;
  flex-direction: row;
}

.f-Derechos {
  text-align: center;
}

/* FIN FOOTER */