*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.menu{
  position: relative;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #073B4C;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  margin: 0;
}

.menu .menu-izquierda{
  display: flex;
  align-items: center;
  width: 35%;
}

.menu .menu-medio{
  width: 30%;

}

.menu .menu-medio ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

.menu .menu-derecha {
  justify-content: flex-end;
  display: flex;
  width: 35%;
  align-items: center;
}

.menu .menu-derecha .iniciar-sesion{
  display: flex;
  background-color: #FF6B00;
  border-radius: 20px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.menu-medio a:hover {
  border-bottom: 3px solid #FF6B00 ;               
}