
.parte-inicial{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto;
}
.main-texto{
    width: 92%;
    margin: 0 auto;
      padding: 4rem 0 2rem 0;
}

.main-texto .texto-1{
font-weight: 550;
font-size: 30px;
margin: 1rem 0 1rem 0;
}

.main-texto .texto-2{
font-weight: 450;
font-size: 16px;
}

.ordenar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 1rem;

}

select {
  padding: 1rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}


.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.contenedor-vuelos{
    flex: 1;

    display: flex;
    gap: 1rem;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
}

.contenedor-vuelos::-webkit-scrollbar{
    display: none;
}

.contenedor-vuelos{
    scrollbar-width: none;
}

.tarjeta img{
   width: 20rem;
  height: 15rem;
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
}

.tarjeta{
    width: 20rem;
    flex-shrink: 0;

    border-radius: 10px;
    height: 30rem;
    background-color: #FAFAFA;
    padding: 0 0 1rem 0;
    margin-top: 1rem;
}

.btn-carrusel{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #E9631A;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
}

.btn-carrusel:hover{
    transform: scale(1.1);
}

.info{
    padding: 0.5rem;
}
.info .parte-abajo{
   padding: 1rem 0;
    border-top: 1px solid #ccc;
}
.info .parte-arriba{
     padding: 1rem 0;
}

.ver-vuelos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: 3px solid #E9631A;
    border-radius: 10px;
    padding: 0.6rem 0;
    cursor: pointer;
}

.ver-vuelos img{
height: 1rem;
width: auto;
margin: 0 0.5rem;
}

.precio{
    font-weight: 700;
    font-size: 22px;
}

.ver-vuelos a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E9631A;
}


.lugar-vuelo {
font-weight: 700;
font-size: 22px;
 width: 92%; 
margin: 0;
padding: 2rem 0 0.5rem 0;
}
